/* Style */
/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole CSS */
body {
    font-family: sans-serif;
}
li > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
button {
    border-radius: 30px;
    padding: 10px;
    border: none;
}
header {
    background-color: rgb(37, 94, 233);
}
.topbar {
    height: 100px;
    display: flex;
    max-width: 1170px;
    margin: auto;
    padding: 20px 0;
}
.logo-column {
    width: 20%;
    padding: 20px 0;
}
.menu-column {
    width: 60%;
    padding: 20px 0;
}
.topbar ul {
    list-style: none;
    text-align: center;
}
.topbar li {
    padding: 0 15px;
    display: inline-block;
}
.login-column {
    width: 20%;
    text-align: right;
    padding: 20px 0;
}
.login-column button {
    background-color: white;
}
#jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 650px;
    padding: 50px 0;
}
#jumbotron .content {
    height: 100%;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 100px 0;
}
#jumbotron h1{
    color: white;
    font-size: 44px;
    margin: 40px 0;
}
#jumbotron p{
    color: white;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 30px;
}
#jumbotron button {
    font-size: 24px;
    margin: 0px 20px;
    padding: 16px 10px;
}
.arrow-down-black::before {
    content: '\2193';
    padding: 5px;
    font-size: 24px;
}
button.black {
    background-color: rgb(35, 39, 42);
    color: white;
}

/* MAIN */
main section {
    padding: 50px 0;
}
.section-container {
    max-width: 1170px;
    margin: 50px auto;
    display: flex;
}
.big-column {
    width: 60%;
}
.small-column {
    width: 40%;
    padding: 40px;
}
.small-column h1 {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 20px;
}
.small-column p {
    font-size: 20px;
    line-height: 30px;
}
.bg-color {
    background-color: rgb(240, 240, 240);
}
.full-column {
    width: 100%;
    text-align: center;
}
.full-column h1{
    color: black;
    font-size: 44px;
    padding: 10px 0;
}
.full-column p{
    font-size: 20px;
    padding: 20px 100px;
    line-height: 30px;
}
.full-column .sfondo {
    padding: 20px 0;
    font-size: 24px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.full-column button {
    color: white;
    background-color:cornflowerblue;
    margin: 20px  0px;
    font-size: 24px;
}
.arrow-down-white::before {
    content: '\2193';
    color: white;
    padding: 5px;
    font-size: 24px;
}

/* FOOTER */
footer{
    background-color: rgb(35, 39, 42);
    padding: 50px 0;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.footer-top {
    display: flex;
    color: white;
}
.footer-top .main-column-footer {
    width: 30%;
}
.footer-top .menu-column-footer {
    width: 70%;
    display: flex;
}
.menu-column-footer > div{
    width: calc(100% / 4);
}
.main-column-footer h1 {
    font-size: 36px;
    color: rgb(37, 94, 233);
    margin-bottom: 20px;
}
.main-column-footer img {
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}
.main-column-footer a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
}
.main-column-footer .half-arrow::after{
    content:'\276F';   
    line-height: 20px;
    vertical-align: middle;
}
.loghi {
    padding: 20px 20px 0 0;
}
.main-column-footer .social {
    font-size: 20px;
}
.col ul {
    list-style: none;
    font-size: 20px;
    line-height: 40px;
}
.col li:first-child {
    color: rgb(37, 94, 233);
    font-weight: bold;
}
footer hr {
    margin: 20px 0;
    border: 1px solid cornflowerblue;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.footer-register button{
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
}